{% extends "layouts/base.html" %}
{%block head%}

{%endblock%}

{%block body%}
<style>
    body {
        margin:0px;
        font-family:'Agency FB';
        text-align:left;
    }
    .column {
        float: right;
        width: 50%;
        padding: 10px;
        height: 300px;
    }
</style>
    <script>
        function choose() {
            {#variable times that references the different image files#}
            var Times = document.getElementsByName('Time');
            {#0 is its default value = dawn.jpeg is its default#}
            var img = Times[0].value;
            {#to make sure you only check in one value#}
            {#if you check morning, it takes the morning image and so on#}
            if (Times[1].checked)
                img = Times[1].value;
            else if (Times[2].checked)
                img = Times[2].value;
            else if (Times[3].checked)
                img = Times[3].value;
            {#percents to change the location of the image#}
            {#before it was long nested conditionals but using string concatination to replace condition#}
            {#Since according to collegeboard, string concatination is combining two or more strings,
            the piece of code below combines url, img, and its properties into one string#}
            {#I can use concat or plus signs like i have done below#}
            document.body.style.background = "url('/static/assets/" + img + "') no-repeat 90% 160%";
            document.body.style.backgroundSize = "450px 299px";
        }

    </script>
    <h2>Clock</h2>
    <div class="column">
        <h1>What Time Is It?</h1>
{#        change to directly referencing the image name in value =''#}
{#        radio buttons for multiple choice#}
        <input type="radio" name="Time" value='dawn.jpeg'>
        <label>Dawn</label><br>
        <input type="radio" name="Time" value='morning.jpeg'>
        <label>Morning</label><br>
        <input type="radio" name="Time" value='afternoon.jpeg'>
        <label>Afternoon</label><br>
        <input type="radio" name="Time" value='night.jpeg'>
        <label>Night</label><br>
        <button type="button" onclick="choose()">
            Submit
        </button>
    </div>
    <div class="column">

    <canvas id="canvas" width="400" height="400"
            style="background-color:#333">
    </canvas>

    <script>
        var canvas = document.getElementById("canvas");
        var ctx = canvas.getContext("2d");
        var radius = canvas.height / 2;
        ctx.translate(radius, radius);
        radius = radius * 0.90
        setInterval(drawClock, 1000);

        function drawClock() {
            drawFace(ctx, radius);
            drawNumbers(ctx, radius);
            drawTime(ctx, radius);
        }

        function drawFace(ctx, radius) {
            var grad;
            ctx.beginPath();
            ctx.arc(0, 0, radius, 0, 2*Math.PI);
            ctx.fillStyle = 'white';
            ctx.fill();
            grad = ctx.createRadialGradient(0,0,radius*0.95, 0,0,radius*1.05);
            grad.addColorStop(0, '#F9E38C ');
            grad.addColorStop(0.5, 'white');
            grad.addColorStop(1, '#F9E38C ');
            ctx.strokeStyle = grad;
            ctx.lineWidth = radius*0.1;
            ctx.stroke();
            ctx.beginPath();
            ctx.arc(0, 0, radius*0.1, 0, 2*Math.PI);
            ctx.fillStyle = '#F9E38C ';
            ctx.fill();
        }

        function drawNumbers(ctx, radius) {
            var ang;
            var num;
            ctx.font = radius*0.15 + "px arial";
            ctx.textBaseline="middle";
            ctx.textAlign="center";
            for(num = 1; num < 13; num++){
                ang = num * Math.PI / 6;
                ctx.rotate(ang);
                ctx.translate(0, -radius*0.85);
                ctx.rotate(-ang);
                ctx.fillText(num.toString(), 0, 0);
                ctx.rotate(ang);
                ctx.translate(0, radius*0.85);
                ctx.rotate(-ang);
            }
        }

        function drawTime(ctx, radius){
            var now = new Date();
            var hour = now.getHours();
            var minute = now.getMinutes();
            var second = now.getSeconds();
            //hour
            hour=hour%12;
            hour=(hour*Math.PI/6)+
                (minute*Math.PI/(6*60))+
                (second*Math.PI/(360*60));
            drawHand(ctx, hour, radius*0.5, radius*0.07);
            //minute
            minute=(minute*Math.PI/30)+(second*Math.PI/(30*60));
            drawHand(ctx, minute, radius*0.8, radius*0.07);
            // second
            second=(second*Math.PI/30);
            drawHand(ctx, second, radius*0.9, radius*0.02);
        }

        function drawHand(ctx, pos, length, width) {
            ctx.beginPath();
            ctx.lineWidth = width;
            ctx.lineCap = "round";
            ctx.moveTo(0,0);
            ctx.rotate(pos);
            ctx.lineTo(0, -length);
            ctx.stroke();
            ctx.rotate(-pos);
        }
    </script>
{%endblock%}