{% extends "layouts/base.html" %}
{%block head%}

{%endblock%}

{%block body%}
<script>
    alert("I can write a story about you!")
    var x = window.prompt("What is your name?");
    var y = window.prompt("Type in your favorite number!");
    var z = window.prompt("What is your favorite food?")
    var zz = window.prompt("What is your favorite animal?")

    document.write("<br>");
    document.write("<br>");

    document.write("One day, a customer walked into a restaurant. Their name was " + x + ". Their favorite food was " + z + ", and they ordered " + y + " meals of " + z + ". Randomly, a " + zz + " jumped onto them, who they then took home as a pet! The End!");
</script>
{%endblock%}