{% extends "layouts/base.html" %}

{% block head %}

{% endblock %}

{% block body %}
<script>
    var x = 35;
    var y = 6738;
    document.write("Adding the two integers (x and y): ")
    document.write(x + y)

    document.write("\nSubtracting the two integers (x and y): ")
    document.write(x - y)

    document.write("\nMultiplying the two integers (x and y): ")
    document.write(x * y)

    document.write("\nDividing the two integers (x and y): ")
    document.write(x / y)

</script>
{% endblock %}