<!-- Extending the predefined project layout -->
{% extends "layouts/about.html" %}
<!- This variable sets name of browser tab  -->
{% set project = "christina" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->
    <style>
        body {
            background-color: #93E9BE;
            background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fi.natgeofe.com%2Fk%2Fa2a738a9-e019-4911-98e6-17f31c45ac88%2Fmilky-way-2_2x1.jpg&imgrefurl=https%3A%2F%2Fkids.nationalgeographic.com%2Fspace%2Farticle%2Fmilky-way&tbnid=muwXFZRQX29HxM&vet=12ahUKEwiTweSVxOTyAhUCm54KHUpaCcQQMygBegUIARDAAQ..i&docid=9662TrCUZvuWjM&w=3072&h=1536&itg=1&q=milky%20way%20galaxy%20images&ved=2ahUKEwiTweSVxOTyAhUCm54KHUpaCcQQMygBegUIARDAAQ");
            background-size: cover;
        }

        h1, h2, h3 {
            color: lightgreen;
        }

    </style>
{% endblock %}
