<!-- Extending the predefined project layout -->
{% extends "layouts/about.html" %}
<!- This variable sets name of browser tab  -->
{% set project = "christina" %}

{% block head %}

{% endblock %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->
    <h1 style="font-family: 'b', monospace; padding: 20px; color:lightsteelblue; font-size: 30px;">Christina Lee</h1>
    <ul style="font-size:20px">
        <li style="color:lightblue" ><span style="color:floralwhite; font-size:20px">Designer/Navigator/Developer</span></li>
    </ul>
    <OL>
    <LI><span style="color:floralwhite; font-size:12px">Changing bit size with an html form</span></LI>
    <UL>
        <li> <span style="font-family: 'American Typewriter', 'Helvetica Neue'; padding: 20px; color:white; font-size: 13px> w3c search of how to make a form with multiple choice buttons.</span></li>
        <LI> <span style="font-family: 'American Typewriter', 'Helvetica Neue'; padding: 20px; color:white; font-size: 13px>since it was already initialized to 8 bits, continuing so would not let the form accept a different number of light blubs.</span></LI>
        <LI> <span style="color:floralwhite; font-size:12px">line 121 in binary.html allows to initialize to default value</span></LI>
        <LI> <span style="color:floralwhite; font-size:12px">adding details such as submit to include in the display</span></LI>
        <lI><a href={{ url_for('binary') }}>Christina's Technical: Binary Page</a></lI>
        <LI><a href={{ url_for('christinaBinary') }}>Christina's Technical: Binary Page with RGB</a></LI>
        <LI> <span style="color:floralwhite; font-size:12px">hexa: 1800402 RGB: (128,4,2)</span></LI>
        <LI> <span style="color:floralwhite; font-size:12px">uses the rightmost 24 bits (80->128)</span></LI>
        <LI> <span style="color:floralwhite; font-size:12px">For Logic gates multiply divide by 2, pass 1, it times 2 and so on. it pass -1, it divided by 2</span></LI>
        <LI> <span style="color:floralwhite; font-size:12px">Logic Gates, creating a page based off of the code in binary.html and importing images of types of gates, from the web. Then, creating check boxes and submission.</span></LI>
        <LI> <span style="color:floralwhite; font-size:12px">Logic Gates Task: Formatting of even column-like structure and currently working on entry for submit button reference.</span></LI>
            </ul>
                <li>List of </li>
            </ul>
    </UL>
    </OL>

    <p style="font-family: 'Agency FB', monospace; padding: 20px; color:white; font-size: 20px;">Testing Testing Prototype </p>
    <p style="font-family: 'Agency FB', monospace; padding: 20px; color:lightgreen; font-size: 20px;">Changing bit size with a html form</p>

{% endblock %}
