<!-- Extending the predefined project layout -->
{% extends "layouts/about.html" %}

{% block head%}

{% endblock %}

<!-- This variable sets name of browser tab  -->
{% set project = "rebecca" %}

<!-- This is a replacement block for Body in base.html -->
{% block body %}
    <!-- Try building a new body here -->
    <h1 style="font-family: 'Agency FB', monospace; padding: 20px; color:white; font-size: 30px;">Rebecca Su</h1>
    <p style="font-family: 'Agency FB', monospace; padding: 20px; color:white; font-size: 20px;">Scrum Master! </p>
{% endblock %}
