<!-- Extending the predefined project layout -->
{% extends "layouts/about.html" %}

{% block head%}

{% endblock %}

<!-- This variable sets name of browser tab  -->
{% set project = "rebecca" %}

<!-- This is a replacement block for Body in base.html -->
{% block body %}
    <!-- Try building a new body here -->
    <h1 style="font-family: 'Agency FB', monospace; padding: 20px; color:white; font-size: 30px;">Rebecca Su</h1>
    <p style="font-family: 'Agency FB', monospace; padding: 20px; color:white; font-size: 20px;">Scrum Master and Developer</p>
    <p style="font-family: 'Agency FB', monospace; padding: 20px; color:white; font-size: 20px;">Hello, I'm Rebecca, a high school student interested in computer science.</p>
    <h2 style="font-family: 'Agency FB', monospace; padding: 20px; color:white; font-size: 20px;">Website Contributions</h2>
    <ol style="font-family: 'Agency FB', monospace; padding: 20px; color:white; font-size: 20px;">
        <li>Developed website navigation bar with dark theme</li>
        <li>Binary to RGB Conversion on the Binary Math Demo</li>
        <li>Embedded videos and journals to the journals page</li>
        <li>Embedded brainwrite and wireframes</li>
        <li>Developed prototypes for about pages</li>
    </ol>

    <!-- form action determines where data is sent-->
    <!-- could be omitted because default is sending data to current page-->
    <form action="/rebecca/" id="greetings" method="POST">
        <!-- if get method is used the string would show up in URL -->
        <!-- get method allows for bookmarking of result-->
        <label for="num1" style="color: white;">Type a decimal number:</label>
        <input name="num1" id="num1" type="text">
        <!-- input will be associated with variable num1-->
        <!-- if get method is used the string would show up in URL -->
        <label for="num2" style="color: white;">Type another decimal number:</label>
        <input name="num2" id="num2" type="text">
        <!-- input will be associated with variable num2-->
        <!--inputs with type=submit will show up as buttons-->
        <input type="submit" name="action" value="Add numbers!">
        <input type="submit" name="action" value="Subtract numbers!">
        <input type="submit" name="action" value="Multiply numbers!">
        <input type="submit" name="action" value="Divide numbers!">
    </form>
    <p style="color: white;">Sum: {{ num }}</p>
{% endblock %}
