<!-- Extending the predefined project layout -->
{% extends "layouts/about.html" %}

{% block head%}

{% endblock %}

<!-- This variable sets name of browser tab  -->
{% set project = "rebecca" %}

<!-- This is a replacement block for Body in base.html -->
{% block body %}
    <!-- Try building a new body here -->
    <h1 style="font-family: 'Agency FB', monospace; padding: 20px; color:white; font-size: 30px;">Rebecca Su</h1>
    <p style="font-family: 'Agency FB', monospace; padding: 20px; color:white; font-size: 20px;">Scrum Master! </p>
    <p>Hello, I'm Rebeca, a high school student interested in computer science.</p>
    <h2>Website Contributions</h2>
    <ol>
        <li>Developed website navigation bar with dark theme</li>
        <li>Binary to RGB Conversion on the Binary Math Demo</li>
        <li>Embedded videos and journals to the journals page</li>
        <li>Embedded brainwrite and wireframes</li>
        <li>Developed prototypes for about pages</li>
    </ol>
{% endblock %}
