<!-- Extending the predefined project layout -->
{% extends "layouts/about.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "ritvik" %}

<!-- This is a replacement block for Body in base.html -->
{% block body %}
    <!-- Try building a new body here -->
    <h1 style="font-family: 'Agency FB', monospace; padding: 20px; color:white; font-size: 30px;">Ritvik Keerthi</h1>
    <p style="font-family: 'Agency FB', monospace; padding: 20px; color:white; font-size: 20px;"">Groomer and Developer</p>
    <a href={{ url_for('binary_ritvik') }}>Ritvik Binary Page</a>
{% endblock %}
