<!-- Extending the predefined project layout -->
{% extends "layouts/about.html" %}

<!-- This variable sets name of browser tab  -->
{% set project = "william" %}

<!-- This is a replacement block for Body in base.html -->
{% block body %}
    <!-- Try building a new body here -->
    <h1 style="font-family: 'Agency FB', monospace; padding: 20px; color:white; font-size: 30px;">William Li</h1>
    <p style="color: white;">Designer and Developer</p>
<p style="color: white">Author of the <a href="/planets/">planets</a> page, <a href="/blackholes/">black holes</a> page, <a href="/signed_addition/">signed addition</a> page, and <a href="/stars/">stars</a> page.</p>
{% endblock %}
