body {
    background-color: #1d1135;
    background-image: url(/static/assets/space_journal.jpg);
    background-size: cover;
    font-family: "Courier New", monospace;
}

h1, h2, h3 {
    color: white;
}