{% extends "layouts/base.html" %}
{%block head%}
    <html>
    <body style="background-color:teal;">
    </body>
    </html>
{#<style>#}
{#    body {#}
{#        background-color:grey;#}
{#        background-size: cover;#}
{#        background-repeat: no-repeat;#}
{#    }#}
{#</style>#}
{%endblock%}

{%block body%}
    <div class="container">
        <div class="row">
            <div class="col">
                <a href={{ url_for('brainwrite') }}>Brain Write</a>
            </div>
            <div class="col">
                <a href={{ url_for('wireframes') }}>Wireframes</a>
            </div>
            <div class="w-100"></div>
            <div class="col">
                <a href={{ url_for('greetings') }}>Greetings</a>
            </div>
            <div class="col">
                <a href={{ url_for('tpt3') }}>TPT 3</a>
            </div>
        </div>
    </div>
{%endblock%}