{% extends "layouts/base.html" %}
{%block head%}
<style>
    body {
        background-image: url("/static/assets/teal.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
{%endblock%}

{%block body%}
    <div class="container">
        <div class="row">
            <div class="col">
                <a href={{ url_for('brainwrite') }}>Brain Write</a>
            </div>
            <div class="col">
                <a href={{ url_for('wireframes') }}>Wireframes</a>
            </div>
            <div class="w-100"></div>
            <div class="col">
                <a href={{ url_for('greetings') }}>Greetings</a>
            </div>
            <div class="col">
                <a href={{ url_for('tpt3') }}>TPT 3</a>
            </div>
        </div>
    </div>
{%endblock%}