{% extends "layouts/base.html" %}
{%block head%}

{%endblock%}

{%block body%}
    <div class="container">
        <div class="row">
            <div class="col">
                <a href={{ url_for('brainwrite') }}>Brainwrite</a>
            </div>
            <div class="col">
                <a href={{ url_for('wireframe') }}>Wire Frames</a>
            </div>
            <div class="w-100"></div>
            <div class="col">
                <a href={{ url_for('greeting') }}>Greetings</a>
            </div>
            <div class="col">
                <a href={{ url_for('TPT3') }}>TPT3</a>
            </div>
        </div>
    </div>
{%endblock%}