{% extends "layouts/base.html" %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        body {
            /* image behind gallery images */
            background-image: url("/static/assets/homepagebackdrop.jpeg");
            background-size: cover;
            background-repeat: no-repeat;

            width: 100%;
            height: 100vh;
            overflow-x: hidden;
            overflow-y: hidden;
        }

        .CelObj {display:none;}
    </style>
{% endblock %}

{% block body %}
    <div class="w3-content w3-display-container">
        <a href={{ url_for('comets') }}>
        <!-- w3-animate-fading class allows image to fade in-->
        <img alt="Comet" class="CelObj w3-animate-fading" src="/static/assets/gallery_img/comet2.jpg" style="width: 100%">
        </a>
        <a href={{ url_for('galaxies') }}>
        <img alt="Galaxy" class="CelObj w3-animate-fading" src="/static/assets/gallery_img/galaxy.jpg" style="width:100%">
        </a>
        <a href={{ url_for('constellations') }}>
        <img alt="Constellations" class="CelObj w3-animate-fading" src="/static/assets/gallery_img/constellations.jpg" style="width:100%">
        </a>
        <a href={{ url_for('blackholes') }}>
        <img alt="Black Hole" class="CelObj w3-animate-fading" src="/static/assets/gallery_img/black_hole.jpg" style="width:100%">
        </a>
        <a href={{ url_for('galaxies') }}>
        <img alt="Milky Way" class="CelObj w3-animate-fading" src="/static/assets/gallery_img/milky_way.jpg" style="width:100%">
        </a>
        <a href={{ url_for('nebulae') }}>
        <img alt="Nebula" class="CelObj w3-animate-fading" src="/static/assets/gallery_img/nebula.jpg" style="width:100%">
        </a>
        <a href={{ url_for('planets') }}>
        <img alt="Planets" class="CelObj w3-animate-fading" src="/static/assets/gallery_img/planets1.jpg" style="width:100%">
        </a>
        <a href={{ url_for('stars') }}>
            <img alt="Stars" class="CelObj w3-animate-fading" src="/static/assets/gallery_img/stars.png" style="width:100%">
        </a>
        <a href={{ url_for('halleys') }}>
            <img alt="Halleys" class="CelObj w3-animate-fading" src="/static/assets/gallery_halleys.jpg" style="width:100%">
        </a>
        <img alt="Hale Bopp" class="CelObj w3-animate-fading" src="/static/assets/gallery_img/asteroid_belt.jpg" style="width:100%">

        <!-- clicking right or left button will call plusDivs function-->
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <!-- &#10094 and &#10095 are left and right-->
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
    </div>

    <script>
        // first image has index of 1
        let slideIndex = 1;
        // display image of specified index
        showDivs(slideIndex);

        // plusDivs will change slideIndex by -1 or 1 depending on which button was pressed
        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function showDivs(n) {
            // all images are set equal to x
            let x = document.getElementsByClassName("CelObj");
            if (n > x.length) {slideIndex = 1}
            if (n < 1) {slideIndex = x.length}

            let i;
            // all images not displayed
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            // image of given index will be displayed
            x[slideIndex-1].style.display = "block";
        }
    </script>

{% endblock %}