{% extends "layouts/base.html" %}
{%block head%}

{%endblock%}

{%block body%}
    <h1>Team Lovelace Journals</h1>

    <h2>Video Journal 0</h2>
        <h3>Video Journal 0 Playlist</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLmkY5Xyv5WieRrooW7UbwuUeImSLu9PIc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h3>Video Journal 0 Supplemental Links</h3>
            <iframe src="https://docs.google.com/document/d/e/2PACX-1vRpy8AriUT8xgWEbaebAyPgt_kzoFTCVzvvs0-IbtZhwyp5Ocow_SdEJRs9qY1MpOu9oegpODwHQf6_/pub?embedded=true" width="999" height="500"> </iframe>

{%endblock%}

