{% extends "layouts/base.html" %}
{%block head%}
    <style>
        body {
            background-color: #1d1135;
            background-image: url("https://cdn.mos.cms.futurecdn.net/M7fDTpDnJcZ4dt3myngzxi.jpg");
            background-size: cover;
            font-family: "Courier New", monospace;
        }

        h1, h2, h3 {
            color: white;
        }

    </style>
{%endblock%}

{%block body%}
    <h1>Team Lovelace Journals</h1>
    <h2>All Journal Links</h2>
        <iframe width="800" height=400" src="https://docs.google.com/document/d/e/2PACX-1vRpy8AriUT8xgWEbaebAyPgt_kzoFTCVzvvs0-IbtZhwyp5Ocow_SdEJRs9qY1MpOu9oegpODwHQf6_/pub?embedded=true" ></iframe>

    <h2>Video Journal 0</h2>
        <h3>Playlist</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLmkY5Xyv5WieRrooW7UbwuUeImSLu9PIc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

{%endblock%}

