<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}
{% set sun = "/static/assets/celestial_Obj_img/sun.jpg" %}
{% set smallsun = "/static/assets/celestial_Obj_img/SmolSun.jpg" %}
{% set tinysun = "/static/assets/celestial_Obj_img/100sun.jpg" %}
{%block head%}
<script>
    let use = false
    function test(n) {
        if(use==true){
            location.reload()
        }
        if(use==false) {
            if (n < 50) {
                for (let i = 0; i < n;) {
                    i = i + 1
                    var img = document.createElement("img");
                    img.setAttribute("src", "{{ sun }}");
                    document.body.appendChild(img);
                    if (i >= n) {
                        break
                    }
                }

            }
            if (n > 99999) {
                for (let i = 0; i < n;) {
                    i = i + 100
                    var img = document.createElement("img");
                    img.setAttribute("src", "{{ tinysun }}");
                    document.body.appendChild(img);
                    if (i >= n) {
                        break
                    }
                }
            }
            if (50 <= n && n <= 99999) {
                for (let i = 0; i < n;) {
                    i = i + 1
                    var img = document.createElement("img");
                    img.setAttribute("src", "{{ smallsun }}");
                    document.body.appendChild(img);
                    if (i >= n) {
                        break
                    }
                }
            }
        }
        use=true
    }

</script>
<style>
    body {
        background-image: url("/static/assets/celestial_Obj_img/blackholelongbg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    h1 {
        color: white;

    }
    p {

        color: white;
    }
    h2 {
        color: white;

    }
    /* Dropdown Button */
    .dropbtn {
        background-color: #04AA6D;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #ddd;}

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block;}

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {background-color: #3e8e41;}
</style>
{%endblock%}

{% block body %}
    <h1>Black Holes</h1>
<br></br>
<h2> Introduction</h2>
<p>
    While black holes often defy logic, they are the simplest objects in the universe, described by only 3 parameters: mass, spin (angular momentum), and charge.
</p>
<p> The mass of the black hole is simply the mass of the singularity at the center, largely affected by the inital mass of the star and its core,
along with the amount of mass that has been sucked into the black hole as well. The mass determines the size of the event horizon, and can vary wildly between
categories of black hole</p>
<p>
    In theory, every black hole is spinning. The probability that a large mass will collapse perfectly into a point without any angular movement is pretty much zero.
    The spin twists the spacetime around the black hole, adding angular momentum to orbits close to the black hole and thus the higher the spin, the closer an orbit can be to the black hole and remain stable.
</p>
<p>
    Charge is often neglected in analysis regarding black holes. All black holes have some small amount of charge due to charged particles entering.
</p>
<h2>
    Formation
</h2>
<p>
    Only giant and supergiant stars can create black holes when they die. Only stars with 8 solar masses or more can begin to fuse iron in the stellar core,
    the first and lightest element that can be fused that leads to an overall energy loss (as compared to hydrogen, helium, carbon, oxygen, neon, silicon, etc. all
    releasing more energy in fusion), which causes gravitational collapse of the core that ends up being the singularity. The shockwave caused by the core collapse is what leads to the supernova,
    however it is theorized that sufficiently massive stars can collapse and form a black hole without causing a supernova, resulting in what is referred to as a
    "failed supernova". In reality, anything can become a black hole if squeezed to a dense enough volume, known as the Schwarzchild Radius. Collapsing the Earth into
    a volume the size of a peanut will turn it into a black hole.
</p>
<h2>
    Black Hole Degeneration
</h2>
<p>
    Even though black holes are thought of as things that last until the end of the universe, they are hypothesized to emit a small amount of radiation known as Hawking Radiation, which means that black holes
    do slowly lose mass, though at an incredibly, incredibly minute rate. Empty space is not empty. Even in an absolute vacuum, there are "virtual particles" that
    pop into existence in matter-antimatter pairs and annihilate each other. At the edge of a black hole, however, if the antiparticle falls into the black hole and
    the other escapes into space, it becomes a real particle and the black hole has just loss mass.
</p>
<h2>
    Types of Black Holes
</h2>
<p>
    Black holes vary wildly in size. Stellar mass black holes can vary from 3.3 to 62 solar masses (though most are closer to 10), formed from the cores of supermassive stars. Anything below 3 is
    unlikely to have enough gravitational mass to overcome neutron degenerate forces, and there is another mass gap where we have found few black holes of around 50 to 150 solar masses.

</p>
<p>
    Intermediate-mass black holes range from 100 to 1000 solar masses. They are rarer than stellar mass or supermassive black holes as they are too massive to be
    formed from star collapse and not massive enough to be formed from dense and extreme conditions that lead to supermassive black holes at galactic centers.
    They are thought to be formed from merging black holes, from runaway collisions of supermassive stars in dense stellar clusters, or from leftover primordial black
    holes from the big bang.
</p>
<p>
    Supermassive black holes are the largest and are over 100,000 solar masses. The most massive is TON 618, at a mass of 66,000,000,000 solar masses and an
    event horizon of 1300 astronomical units in radius, 40 times the distance from the sun to neptune. Supermassive black holes reside at the center of the galactic nucleus,
    feeding on dense matter and stars to grow in mass. The ones not accreting any mass are referred to as "dormant" while the ones actively accreting mass into
    its accretion disk. Active Galactic Nuclei are very luminous, and Seyfert galaxies and quasars are galaxies with extremely luminous active galactic nuclei that
    don't overpower the light of the host galaxy in the former, and do in the latter.
</p>
<p>
    Below is a neat visualization of how much these black holes really differ in terms of mass and size. The website cannot
    handle more than 45000 images at once, so the biggest one on here is Saggitarius A*, the supermassive black hole at the
    center of the Milky Way, though there are black holes over 10,000 times more massive.
</p>


    <div class="dropdown">
        <button class="dropbtn">Black Holes</button>
         <div class="dropdown-content">
             <a onclick="test(3)"> V723 Monocerotis (Stellar)</a>
             <a onclick="test(9)"> 4U 1543-47 (Stellar)</a>
             <a onclick="test(14)"> GRS 1915+105 (Stellar)</a>
             <a onclick="test(21)"> Cygnus X-1 (Stellar)</a>
             <a onclick="test(3000)"> Triangulum Galaxy Central Black Hole (upper mass limit)</a>
             <a onclick="test(10000)"> M87 Central Black Hole (Intermediate)</a>
             <a onclick="test(1000000)"> M51 Central Black Hole (Supermassive)</a>
             <a onclick="test(4300000)"> Saggitarius A* (Supermassive)</a>
         </div>
    </div>
{% endblock %}