<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

{%block head%}
    <style>
        body {
            background-image: url("/static/assets/planets background placeholder.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }
        h1 {
            color: lightblue;
            text-align: center;
        }
        p {
            color: lightblue;
        }
        img {
            size: 200px;
        }
        h2 {
            color: lightskyblue;
        }
    </style>
{%endblock%}

{% block body %}
    <h1>Comets</h1>
    <p>To be honest, you can think of Comets as a bigger type of snowball.
        Except much bigger.
        Think gigantic.
         </p>
    <p>It's composed of rocks, gases, and dust that orbit around the Sun.
        A good estimate for the size of a comet would be a small town.</p>
    <p>As the comet's orbit brings the comet closer and closer to the Sun, it heats up which causes the comet to burst open and turn into dust. </p>
        <p> The dust and gases released from the Comet form a "giant glowing head" that is larger than most planets. </p>
    <p>To give an estimate, there are only about 3743 known Comets, but scientists predict that there maybe billions more. </p>
    <p>For a more accurate estimate in relation to size, below is one Comet, named the Rosetta Comet.</p>








    <h2> Here are some different comets that you can learn more about!</h2>

{% endblock %}