<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

{% block head %}
<style>
    body {
        background-image: url("/static/assets/celestial_Obj_img/planets background placeholder.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    h1 {
        color: lightblue;
        text-align: center;
    }
    p {
        text-align: center;
        color: lightblue;
    }
    h2 {
        color: lightskyblue;
        text-align: center;
    }
    iframe {
        align: center;
    }
</style>
{% endblock %}
{% block body%}
<h1>Hale-Bopp Comet</h1>
<p>Below is a display of multiple images taken of the Hale-Bopp Comet</p>
<img src="/static/assets/celestial_Obj_img/halebopp1.jpg" width="631", height="400">
<img src="/static/assets/celestial_Obj_img/halebopp2.jpg" width="631", height="400">
<img src="/static/assets/celestial_Obj_img/halebopp3.jpg" width="631", height="400">
{% endblock %}