<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

{%block head%}

{%endblock%}

{% block body %}
<body style="background-color: lightskyblue; font-family: Courier New,serif;">
    <h1 style="padding: 20px">Nebulae</h1>
    <p style="padding: 10px">A nebula is a type of celestial object in space. It is basically a large cloud of gas and dust.</p>
    <p style="padding: 10px">Some nebulae originate from the explosion of the death of a star, while others form when stars are born.</p>
    <img alt ="Nebula" src="/static/assets/celestial_Obj_img/nebula.jpg">
</body>

{% endblock %}