<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<head>
    <script>
        function mercuryText() {
            
        }
    </script>
</head>

{%block head%}
    <style>
        body {
            background-image: url("/static/assets/planets background placeholder.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }
        .container {
            position: absolute;
            width: 100%;
            max-width: 400px;
        }
        .container img{
            width: 100%;
            height: auto;
        }
    </style>
{%endblock%}

{% block body %}
    <h1>Planets</h1>
    {# MERCURYYYYYYY #}
    <button onclick="myFunction()">
        <img src="/static/assets/mercury_no_bg.png" style="width:42px;height:42px;">
    </button>
    {#
    <a href="/william/">
        <img src="/static/assets/mercury_no_bg.png" style="width:42px;height:42px;">
    </a> #}

    {# VENUS #}
    <button onclick="myFunction()">
        <img src="/static/assets/venusnobg.png" style="width:42px;height:42px;">
    </button>
    {#
    <a href="/william/">
        <img src="/static/assets/venusnobg.png" style="width:42px;height:42px;">
    </a>

    {# Earth? do we need to include that? probably or else it would look weird. but i dont want an earth page its so cliche #}
    <button onclick="myFunction()">
        <img src="/static/assets/earthnobg.png" style="width:42px;height:42px;">
    </button>
    {#
    <a href="/william/">
        <img src="/static/assets/earthnobg.png" style="width:42px;height:42px;">
    </a>

    {# MARS #}
    <button onclick="myFunction()">
        <img src="/static/assets/mars.png" style="width:42px;height:42px;">
    </button>
    {#
    <a href="/william/">
        <img src="/static/assets/mars.png" style="width:42px;height:42px;">
    </a>

    {# JUPITEr #}
    <button onclick="myFunction()">
        <img src="/static/assets/jupiternobg.png" style="width:42px;height:42px;">
    </button>
    {#
    <a href="/william/">
        <img src="/static/assets/jupiternobg.png" style="width:42px;height:42px;">
    </a>

    {# SATURN #}
    <button onclick="myFunction()">
        <img src="/static/assets/saturnnobg.png" style="width:42px;height:42px;">
    </button>
    {#
    <a href="/william/">
        <img src="/static/assets/saturnnobg.png" style="width:42px;height:42px;">
    </a>

    {# URANUS #}
    <button onclick="myFunction()">
        <img src="/static/assets/uranus.png" style="width:42px;height:42px;">
    </button>
    {#
    <a href="/william/">
        <img src="/static/assets/uranus.png" style="width:42px;height:42px;">
    </a>

    {# NEPTUNE #}
    <button onclick="myFunction()">
        <img src="/static/assets/neptune.png" style="width:42px;height:42px;">
    </button>
    {#
    <a href="/william/">
        <img src="/static/assets/neptune.png" style="width:42px;height:42px;">
    </a> #}
{% endblock %}