<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}
<head>

</head>

{%block head%}
    <style>
        body {
            background-image: url("/static/assets/celestial_Obj_img/planets background placeholder.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }
        .container {
            position: absolute;
            width: 100%;
            max-width: 400px;
        }
        .container img{
            width: 100%;
            height: auto;
        }
    </style>
{%endblock%}

{% block body %}
    <script>

        function mercuryText() {
            let a = document.getElementById("mercurytext");
            if (a.hasAttribute("hidden")) {
                a.removeAttribute("hidden");
            } else {
                a.setAttribute("hidden", "");
            }
        }
        function venusText() {
            let b = document.getElementById("venustext");
            if (b.hasAttribute("hidden")) {
                b.removeAttribute("hidden");
            } else {
                b.setAttribute("hidden", "");
            }
        }
        function earthText() {
            let c = document.getElementById("earthtext");
            if (c.hasAttribute("hidden")) {
                c.removeAttribute("hidden");
            } else {
                c.setAttribute("hidden", "");
            }
        }
        function marsText() {
            let d = document.getElementById("marstext");
            if (d.hasAttribute("hidden")) {
                d.removeAttribute("hidden");
            } else {
                d.setAttribute("hidden", "");
            }
        }
        function jupiterText() {
            let e = document.getElementById("jupitertext");
            if (e.hasAttribute("hidden")) {
                e.removeAttribute("hidden");
            } else {
                e.setAttribute("hidden", "");
            }
        }
        function saturnText() {
            let f = document.getElementById("saturntext");
            if (f.hasAttribute("hidden")) {
                f.removeAttribute("hidden");
            } else {
                f.setAttribute("hidden", "");
            }
        }
        function uranusText() {
            let g = document.getElementById("uranustext");
            if (g.hasAttribute("hidden")) {
                g.removeAttribute("hidden");
            } else {
                g.setAttribute("hidden", "");
            }
        }
        function neptuneText() {
            let h = document.getElementById("neptunetext");
            if (h.hasAttribute("hidden")) {
                h.removeAttribute("hidden");
            } else {
                h.setAttribute("hidden", "");
            }
        }
    </script>
    <h1>Planets</h1>
    {# MERCURYYYYYYY #}
    <a onclick="mercuryText()">
        <img src="/static/assets/celestial_Obj_img/mercury_no_bgCT.png" style="width:24px;height:24px;">
    </a>

    {# VENUS #}
    <a onclick="venusText()">
        <img src="/static/assets/celestial_Obj_img/venusnobgCT.png" style="width:52px;height:52px;">
    </a>

    {# Earth? do we need to include that? probably or else it would look weird. but i dont want an earth page its so cliche #}
    <a onclick="earthText()">
        <img src="/static/assets/celestial_Obj_img/earthnobgC.png" style="width:55px;height:55px;">
    </a>

    {# MARS #}
    <a onclick="marsText()">
        <img src="/static/assets/celestial_Obj_img/marsC.png" style="width:29px;height:29px;">
    </a>

    {# JUPITEr #}
    <a onclick="jupiterText()">
        <img src="/static/assets/celestial_Obj_img/jupiternobg.png" style="width:602px;height:602px;">
    </a>

    {# SATURN #}
    <a onclick="saturnText()">
        <img src="/static/assets/saturnnobg.png" style="width:668px;height:501px;">
    </a>

    {# URANUS #}
    <a onclick="uranusText()">
        <img src="/static/assets/uranusC.png" style="width:218px;height:218px;">
    </a>

    {# NEPTUNE #}
    <a onclick="neptuneText()">
        <img src="/static/assets/neptuneC.png" style="width:212px;height:212px;">
    </a>



    <p hidden id="mercurytext" style="color:white">
             Mercury is the smallest planet of the Solar System, and the closest one to the sun.
             Its lack of atmosphere means that its temperature can vary wildly from daytime to nighttime.
    </p>
    <p hidden id="venustext" style="color:white">
       venus description
    </p>
    <p hidden id="earthtext" style="color:white">
        earth description
    </p>
    <p hidden id="marstext" style="color:white">
       mars description
    </p>
    <p hidden id="jupitertext" style="color:white">
        jupiter description
    </p>
    <p hidden id="saturntext" style="color:white">
      saturn description
    </p>
    <p hidden id="uranustext" style="color:white">
      uranus description
    </p>
    <p hidden id="neptunetext" style="color:white">
  neptune description
    </p>

{% endblock %}