<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

{% block head %}
<style>
    body {
        background-image: url("/static/assets/celestial_Obj_img/planets background placeholder.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    h1 {
        color: lightblue;
        text-align: center;
    }
    p {
        text-align: center;
        color: lightblue;
    }
    h2 {
        color: lightskyblue;
        text-align: center;
    }
    iframe {
        align: center;
    }
</style>
{% endblock %}
{% block body%}
<h1>Rosetta Comet</h1>
<p>As if things could not get more interesting, here is an exquisite display of the timeline regarding the Rosetta Comet</p>
{% endblock %}