{% extends "layouts/base.html" %}

{% block head%}
{#{% set BITS = 8 %}#}

{% endblock %}
<style>
    table {
        border-collapse: collapse;
    }
    table tr{
        border-bottom: 1px solid black;
    }
</style>

{% block body %}
<table style="width:100%">
    <tr>
        <td>Emil</td>
        <td>Tobias</td>
        <td>Linus</td>
    </tr>
    <tr>
        <td>16</td>
        <td>14</td>
        <td>10</td>
    </tr>
    <tr>
        <td>16</td>
        <td>14</td>
        <td>10</td>
    </tr>
</table>
{% endblock %}

