{% extends "layouts/base.html" %}


{% block head %}
<html>
<body style="background-color:teal;">
</body>
</html>
<style>
    img {
        float: inherit;
    }
    .column {
        float: right;
        width: 50%;
        padding: 10px;
        height: 300px;
    }
</style>
<script>
    const BITS = '{{ BITS }}'; let max = '{{ MAX }}'; let MAX = parseInt(max, 10);
    // return string with current value of each bit
    function choose() {
        var a = document.getElementsByName('a');
        var b = document.getElementsByName('b');
        let aValue = 0;
        if (a[1].checked)
            aValue = 1;
        let bValue = 0;
        if (b[1].checked)
            bValue = 1;
        document.getElementById('or').innerHTML = aValue || bValue;
        document.getElementById('and').innerHTML = aValue && bValue;
        document.getElementById('nor').innerHTML = !(aValue || bValue);
        document.getElementById('nand').innerHTML = !(aValue && bValue);
        document.getElementById('not').innerHTML = !aValue;
        document.getElementById('xor').innerHTML = aValue ^ bValue;
        return 0;
    }

    // toggle selected bit and recalculate
    function toggleBit(i) {
        //alert("Digit action: " + i );
        const dig = document.getElementById('digit' + i);
        const image = document.getElementById('bulb' + i);
        const butt = document.getElementById('butt' + i);
        // Change digit and visual
        if (image.src.match("{{ imgBulbOn }}")) {
            dig.value = 0;
            image.src = "{{ imgBulbOff }}";
            butt.innerHTML = "{{ msgTurnOn }}";
        } else {
            dig.value = 1;
            image.src = "{{ imgBulbOn }}";
            butt.innerHTML = "{{ msgTurnOff }}";
        }
        // Binary numbers
        const binary = getBits();
        setConversions(binary);
    }

    // add is positive integer, subtract is negative integer
    function add(n) {
        let binary = getBits();
        // convert to decimal and do math
        let decimal = parseInt(binary, 2);
        if (n > 0) {  // PLUS
            decimal = MAX === decimal ? 0 : decimal += n; // OVERFLOW or PLUS
        }
        else {     // MINUS
            decimal = 0 === decimal ? MAX : decimal += n; // OVERFLOW or MINUS
        }
        // convert the result back to binary
        binary = decimal_2_base(decimal, 2);
        // update conversions
        setConversions(binary);
        // update bits
        for (let i = 0; i < binary.length; i++) {
            let digit = binary.substr(i, 1);
            document.getElementById('digit' + i).value = digit;
            if (digit === "1") {
                document.getElementById('bulb' + i).src = "{{ imgBulbOn }}";
                document.getElementById('butt' + i).innerHTML = "{{ msgTurnOff }}";
            }
            else {
                document.getElementById('bulb' + i).src = "{{ imgBulbOff }}";
                document.getElementById('butt' + i).innerHTML = "{{ msgTurnOn }}";
            }
        }
    }
    function times(n) {
        let binary = getBits();
        // convert to decimal and do math
        let decimal = parseInt(binary, 2);
        if (n > 1) {  // times 2
            decimal = MAX === decimal ? 0 : decimal *= 2; // OVERFLOW or PLUS
        }
        else {     // divided by 2
            decimal = 0 === decimal ? MAX : decimal *= n; // OVERFLOW or MINUS
        }
        // convert the result back to binary
        binary = decimal_2_base(decimal, 2);
        // update conversions
        setConversions(binary);
        // update bits
        for (let i = 0; i < binary.length; i++) {
            let digit = binary.substr(i, 1);
            document.getElementById('digit' + i).value = digit;
            if (digit === "1") {
                document.getElementById('bulb' + i).src = "{{ imgBulbOn }}";
                document.getElementById('butt' + i).innerHTML = "{{ msgTurnOff }}";
            }
            else {
                document.getElementById('bulb' + i).src = "{{ imgBulbOff }}";
                document.getElementById('butt' + i).innerHTML = "{{ msgTurnOn }}";
            }
        }
    }
</script>
{% endblock %}

{% block body %}
<h1 class="text-center">Logic Gates</h1>
<div class="column">
    <h1>Input</h1>
    <p>A: </p>
     <input type="radio" name="a" value="0">
     <label>0</label>
    <input type="radio" name="a" value="1">
    <label>1</label><br>
    <p>B:</p>
    <input type="radio" name="b" value="0">
    <label>0</label>
    <input type="radio" name="b" value="1">
    <label>1</label><br>
    <button type="button" onclick="choose()">
        Submit
    </button>
</div>
<div class="column">

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-8">
            <table class="table">
                <tr id="table">
                    <th>Logic Gate</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <td><img src="/static/assets/andgate.png"> </td>
                    <td id="and">0</td>
                </tr>
                <tr>
                    <td><img src="/static/assets/orgate.png"> </td>
                    <td id="or">0</td>
                </tr>
                <tr>
                    <td><img src="/static/assets/nandgate.png"></td>
                    <td id="nand">0</td>
                </tr>
                <tr>
                    <td><img src="/static/assets/norgate.png"></td>
                    <td id="nor">0</td>
                </tr>
                <tr>
                    <td><img src="/static/assets/xorgate.png"></td>
                    <td id="xor">0</td>
                </tr>
                <tr>
                    <td><img src="/static/assets/notgate.png"></td>
                    <td id="not">1</td>
                </tr>
            </table>
        </div>
    </div>
    </div>
</div>

{% endblock %}
