# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
### Exclude IntelliJ IDEA from GitHub ###
.idea
*.iws
*.iml
*.ipr
